<%= render 'layouts/header' %>
<div class="container text-center center-block">
 
 <div class="row offset-0">
  <div class="mx-auto">
   </br></br>
   <h1>ジャンル一覧・追加</h1>  
   <%= form_with model:@genre, local: true do |f| %>
    <%= f.label :name, "ジャンル名" %>
    <%= f.text_field :name, placeholder: "ジャンル名" %>
    <%= f.submit '新規登録', class: 'btn btn-success' %>
   <% end %>
   </br></br>
  </div>
  <table class='table table-hover table-inverse'>
   <thead>
    <tr>
      <th>ジャンル名</th>
      <th></th>
      <th></th>
    </tr> 
   </thead>
   <tbody>
     <% @genres.each do |genre| %>
     <tr>
       <td><%= genre.name %></td>
       <td><%= link_to "編集する", edit_genre_path(genre), class:"btn btn-primary" %></td>
       <td><%= link_to "削除する", genre_path(genre),method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %></td>
     </tr>
     <% end %>
     <tr><td><%= paginate @genres %></td></tr>
   </tbody>
  </table>
 </div>
</div>
<%= render 'layouts/footer' %>