<div class="container text-center center-block">
 <div class="row offset-3">
  <div class="mx-auto">
   <h1>ジャンル一覧・追加</h1>  
   <%= form_with model:@genre, local: true do |f| %>
    <%= f.label :name, "ジャンル名" %>
    <%= f.text_field :name %>
    <%= f.submit '新規ジャンル登録' %>
   <% end %>
  </div>
   <thead>
    <tr>
      <th>ジャンル名</th>
      <th></th>
    </tr> 
   </thead>
   <tbody>
     <% @genres.each do |genre| %>
     <tr>
       <td><%= genre.name %></td>
       <td><%= link_to "編集する", edit_genre_path(genre.id), class:"btn btn-success" %></td>
     </tr>
     <% end %>
   </tbody>
 </div>
</div>
  