
<div id="favorites_buttons_<%= post.id %>">
<% if post.favorited_by?(current_user, post.id) %>
   <%= link_to item_post_favorites_path(@item.id, post.id), method: :delete, remote: true do %>
    ♥<%= post.favorites.count %>いいね
   <% end %>
   
   <% else %>
   <%= link_to item_post_favorites_path(@item.id, post.id), method: :post, remote: true do %>
    ♡<%= post.favorites.count %>いいね
   <% end %>
  <% end %>
  </div>