 <%= form_with model: @item, local: true do |f| %>
　<div class="form-group"> 
　  <th>商品画像</th>
　   <td><%= f.attachment_field :image %></td>
　  <th>商品名</th>
　   <td><%= f.text_field :name %></td>
　  <th>JANコード</th>
　   <td><%= f.text_field :jan_code %></td>
　  <th>商品説明</th>
　   <td><%= f.text_field :describe %></td>
　  <th>ジャンル</th>
  </div>
　<div class="form-group">
　 <%= f.submit "商品登録", class:'btn btn-success' %>
　 <% end %>
  </div>