<table class='table table-hover table-inverse'>
 <thead>
  <tr>
    <th>商品画像</th>
    <th>商品名</th>
    <th>JANコード</th>
    <th>商品説明</th>
    <th>ジャンル</th>
    </tr>
   </thead>
    <% @items.each do |item| %>
   <tbody>
     <tr>
      <td><%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg' %></td>
      <td>
       <%= link_to item_path(item.id) do %>
       <%= item.name %>
       <% end %></td>
      <td><%= item.jan_code %></td>
      <td><%= item.describe %></td>
      <td><%= item.genre.name %></td>
     </tr>
    <% end %>
   </tbody>
  </table>