<%= render 'layouts/header' %>
<div class="container- px-8 px-sm-4">
 <div class='row'>
  <div class="col-md-10 mb-3">
　<h1>登録商品編集</h1>
　<%= form_with model: @item, local:true do |f| %>
 <table class='table table-hover table-inverse'>
  <thead>
   <tr>
    <th>商品画像</th>
    <th>商品名</th>
    <th>JANコード</th>
    <th>商品説明</th>
    <th>ジャンル</th>
    <th></th>
   </tr>
   </thead>
　 
　 <tbody>
　  <tr>
　   <td><%= f.attachment_field :image %></td>
　   <td><%= f.text_field :name %></td>
　   <td><%= f.text_field :jan_code %></td>
　   <td><%= f.text_field :describe %></td>
　   <td>
      <label class="radio_button">
      <%= f.collection_select(:genre_id, @genres, :id, :name) %>
     </label>
     </td>
    </tr>
   </tbody>
    <tr>
　   <td><%= f.submit "変更を保存する", class:'btn btn-success' %></td>
　  </tr>
　 </table>
　<% end %>
　</div>
 </div>
</div>
<%= render 'layouts/footer' %>
 