<div class="inner">
  <h1>商品詳細</h1>
  <thead class='thead-white'>
    <tr>
    <th>商品画像</th>
    <th>商品名</th>
    <th>JANコード</th>
    <th>ジャンル</th>
    </tr>
   </thead>
   <tbody>
    <td><%= attachment_image_tag @item, :image %></td>
    <td><%= @item.name %></td>
    <td><%= @item.jan_code %></td>
    <td><%= @item.genre.name %></td>
   
   <% if user_signd_in? && @item.user_id == current_user.id %>
    <td><%= link_to '商品情報を編集する', edit_item_path(@item),method: :get %></td>
    <td><%= link_to '商品情報を削除する',item_path(@item),method: :delete, data: { confir,: '本当に消しますか？' } %></td>
   <% end %>
   </tbody>
</div>
